<div class="about-banner">
  <div class="content">

    <div class="overlay" style="background: url('/meta/page_bg_02.png')"></div>
    <div class="text-wrapper">
      <div class="main-title">
              <span class="no-wrap">
                저는 한번 물면 끝을 봐야 직성이 풀리는,
              </span>
        <span class="no-wrap">
                <span class="highlight-text">성시윤</span>입니다!
              </span>
      </div>
      <br/>
      <div class="description">
              <span class="no-wrap">
                제가 만족할 때는 오직
              </span>
        <span class="no-wrap">
               <span class="highlight-text">완벽</span>할 때 밖에 없어요.
              </span>
      </div>
    </div>
  </div>
</div>
