<div class="about-banner">
  <div class="content">

    <div class="overlay" style="background: url('/meta/page_bg_02.png')"></div>
    <div class="text-wrapper">
      <div class="main-title">
              <span class="no-wrap">
                어떤 상황에서도 한결 같은 개발자,
              </span>
        <span class="no-wrap">
                <span class="highlight-text">김수황</span>입니다!
              </span>
      </div>
      <br/>
      <div class="description">
              <span class="no-wrap">
                제가 흔들릴때는 오직
              </span>
        <span class="no-wrap">
               <span class="highlight-text">태풍</span>이 올때 밖에 없어요.
              </span>
      </div>
    </div>
  </div>
</div>
