<div class="loading-animation">
  <section class="home">
    <div class="section">
      <span class="title"><span class="label-emoji">✍️</span>&nbsp;최근 게시물</span>
      <div class="content">
        <table class="catalogue">
          <tr>
            {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'LOading' %}
            {% for page in sorted limit:4 %}
            {% include post-card.html %}
            {% endfor %}
          </tr>
          <tr>
            {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'REcoding' %}
            {% for page in sorted limit:4 %}
            {% include post-card_recoding.html %}
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
    
  </section>

</div>

