<div class="loading-animation">
  <section class="home">
    <div class="section">
      <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fkim-link.github.io&count_bg=%230099F2&title_bg=%2369A0FF&icon=&icon_color=%23B7D5F4&title=hits&edge_flat=false"/></a>
      <span class="title"><span class="label-emoji">✍️</span>&nbsp;최근 게시물</span>
      <div class="content">
        <table class="catalogue">
          <tr>
            {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'LOading' %}
            {% for page in sorted limit:4 %}
            {% include post-card_loading.html %}
            {% endfor %}
          </tr>
          <tr>
            {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'REcoding' %}
            {% for page in sorted limit:4 %}
            {% include post-card_recoding.html %}
            {% endfor %}
          </tr>
          <tr>
            {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'TIL' %}
            {% for page in sorted limit:4 %}
            {% include post-card_til.html %}
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
    
  </section>

</div>

