<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay" style="background: url('/meta/page_bg_03.png')"></div>
            <div class="text-wrapper">
                <div class="sub-title">
                    <span class="no-wrap">
                        Metal을 공부하다가 Mental이 강해져 버린,
                    </span>
                    <span class="no-wrap">
                        단단한 백엔드 개발자가 되고 싶은
                    </span>
                </div>
                <div class="main-title">
                    <span class="no-wrap">
                        <a href="https://github.com/Kim-Link" target="_blank">김수황</a>의
                    </span>
                    <span class="no-wrap">
                        공부 블로그입니다.
                    </span>
                </div>
                <br/>
                <div class="description">
                    <span class="no-wrap">
                        제가 공부하는 개발 내용과
                    </span>
                    <span class="no-wrap">
                        소소한 생각까지
                    </span>
                    <span class="no-wrap">
                        이런저런 이야기들을 공유하고 있습니다.
                    </span>
                </div>
                <div class="description">
                    <span class="no-wrap">
                        저의 생각과 지식을 블로그에 기록하여
                    </span>
                    <span class="no-wrap">
                        함께 나누고 싶어요.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
