<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay" style="background: url('/meta/page_bg_01.png')"></div>
            <div class="text-wrapper">
                <div class="sub-title">
                    <span class="no-wrap">
                        Metal을 공부하다가 Mental이 강해져 버린,
                    </span>
                    <span class="no-wrap">
                        단단한 백엔드 개발자가 되고 싶은
                    </span>
                </div>
                <div class="main-title">
                    <span class="no-wrap">
                        <a href="https://github.com/Kim-Link" target="_blank">김수황</a>의
                    </span>
                    <span class="no-wrap">
                        공부 블로그입니다.
                    </span>
                </div>
                <br/>
                <div class="description">
                    <span class="no-wrap">
                        제가 사용하는 기술부터
                    </span>
                    <span class="no-wrap">
                        소소한 이야기들까지
                    </span>
                    <span class="no-wrap">
                        이런저런 이야기들을 공유하고 있습니다.
                    </span>
                </div>
                <div class="description">
                    <span class="no-wrap">
                        제가 배운 것들, 제가 개선한 것들을
                    </span>
                    <span class="no-wrap">
                        블로그를 통해 함께 나누고 소통하려고 합니다.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
