{% assign writer = site.data.members | where: 'id', page.writer | first %}
<div class='post-footer'>
  <div class="member_card">
    <div class="thumbnail-container">
      <div class='thumbnail'>
        {% assign thumbnail = site.static_files | where: 'basename', writer.id | first %}
        <img class='profile' src='/about/img/000001.jpg'/>
        <div class='emoji'>
          <span>{{writer.emoji}}</span>
        </div>
      </div>
      <div class='name'>{{writer.name}}</div>
    </div>
    <div class='description'>{{writer.comment}}</div>
  </div>
</div>