.tag-list {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  list-style: none;
}

.hidden {
  display: none;
}

.post-list-tags {
  margin-top: 20px;
}

.tag {
  margin-right: 10px;
  color: $grey-7;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;

  &:hover {
    opacity: 0.5;
  }

  &.selected {
    color: $primary;
  }

  &::before {
    content: '#';
  }

  @media (max-width: $break-small) {
    font-size: 13px;
  }
}

.post-tags {
  margin-top: 60px;

  a {
    background-image: none;
  }

  .tag {
    color: $primary;
    margin: 0 2px;
    padding: 5px;
    text-decoration: underline;
  }

  .tag:hover {
    opacity: 0.5;
  }

  .tag-emoji {
    //font-size: xx-large;
  }
}

